<h1>Posts</h1>
<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div fxFlex="100">
        <mat-spinner *ngIf="(inProgress$ | async) && (posts$ | async).length === 0"></mat-spinner>
    </div>
</div>

<div *ngIf="(posts$ | async).length > 0" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="100">
        <app-post-search [users]="users$ | async"></app-post-search>
    </div>
</div>

<div *ngIf="(posts$ | async).length > 0" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
    <div fxFlex="100">
        <app-post-table fxFlex="100" [posts]="posts$ | async" [pageSize]="postPerPage$ | async"
            [loadingInProgress]="inProgress$ | async" [length]="postCount$ | async"
            (paginatorChanged)="pagingChanged($event)"></app-post-table>
    </div>
</div>

<br />