<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="postInfo" errorMessage="fill all data">
    <form [formGroup]="postInfo">
      <ng-template matStepLabel>Post Information</ng-template>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-form-field fxFlex="100" appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title">
          <mat-error *ngIf="postInfo.get('title').hasError('required')">
            Title is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>User</mat-label>
          <mat-select placeholder="User" formControlName="userId">
            <mat-option *ngFor="let user of users" [value]="user.id">
              {{user.userName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>Customer</mat-label>
          <mat-select placeholder="customer" formControlName="customerId">
            <mat-option *ngFor="let cust of customers" (onSelectionChange)="customerSelectionChanged($event)"
              [value]="cust.id">
              {{cust.company}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="40" appearance="outline">
          <mat-label>Project</mat-label>
          <mat-select placeholder="project" formControlName="projectId">
            <mat-option *ngFor="let proj of projectOfCustomer" [value]="proj.id">
              {{proj.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="pickerFrom" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
          <mat-error *ngIf="postInfo.get('date').hasError('required')">
            Date is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>From</mat-label>
          <input matInput [ngxTimepicker]="pickerFrm" [format]="24" formControlName="from">
          <ngx-material-timepicker-toggle [for]="pickerFrm" matSuffix>
          </ngx-material-timepicker-toggle>
          <ngx-material-timepicker #pickerFrm></ngx-material-timepicker>
        </mat-form-field>

        <mat-form-field fxFlex="15" appearance="outline">
          <mat-label>To</mat-label>
          <input matInput [ngxTimepicker]="pickerTo" [format]="24" formControlName="to">
          <ngx-material-timepicker-toggle [for]="pickerTo" matSuffix>
          </ngx-material-timepicker-toggle>
          <ngx-material-timepicker #pickerTo></ngx-material-timepicker>
        </mat-form-field>

        <mat-form-field fxFlex="20" appearance="outline">
          <mat-label>Additional Hours</mat-label>
          <input matInput placeholder="Additional Hours" formControlName="additionalHours">
        </mat-form-field>

        <mat-form-field fxFlex="20" appearance="outline">
          <!-- <mat-label>Offline Hours</mat-label> -->
          <input matInput hidden>
          <mat-slide-toggle formControlName="offline">Offline Hours</mat-slide-toggle>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <app-tag-selection fxFlex="100" [tags]="tags"></app-tag-selection>
      </div>

      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
        <div fxFlex="100" fxLayoutAlign="end center" fxLayoutGap="10px">
          <a mat-raised-button routerLink="/posts/list" color="warn">
            <mat-icon>cancel</mat-icon>Cancel
          </a>
          <button mat-raised-button matStepperNext color="primary">Next
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
        </div>
      </div>

    </form>
  </mat-step>
  <mat-step [stepControl]="postDetails" errorMessage="Summary is required">
    <form [formGroup]="postDetails">
      <ng-template matStepLabel>Details</ng-template>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <mat-form-field fxFlex="100" appearance="outline">
          <mat-label>Summary</mat-label>
          <textarea matInput style="height: 200px;" formControlName="summary"></textarea>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
        <div fxFlex="100" fxLayoutAlign="end center" fxLayoutGap="10px">
          <button mat-raised-button matStepperPrevious color="primary">
            <mat-icon>arrow_back_ios</mat-icon>Back
          </button>
          <a mat-raised-button routerLink="/posts/list" color="warn">
            <mat-icon>cancel</mat-icon>Cancel
          </a>
          <button mat-raised-button matStepperNext color="primary">Next
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
      <div fxFlex="100" fxLayoutAlign="end center" fxLayoutGap="10px">
        <button mat-raised-button matStepperPrevious color="primary">
          <mat-icon>arrow_back_ios</mat-icon>Back
        </button>
        <a mat-raised-button routerLink="/posts/list" color="warn">
          <mat-icon>cancel</mat-icon>Cancel
        </a>
        <button mat-raised-button matStepperNext color="primary">Save and Finish
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>