<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
  <mat-form-field fxFlex="20">
    <mat-label>User</mat-label>
    <mat-select placeholder="User">
      <mat-option [value]="">-- All --</mat-option>
      <mat-option *ngFor="let user of ['user1', 'user2', 'user3']" [value]="user">
        {{user}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex="20">
    <mat-label>Customer</mat-label>
    <mat-select placeholder="customer">
      <mat-option [value]="">-- All --</mat-option>
      <mat-option *ngFor="let cust of ['cust1', 'cust2', 'cust3']" [value]="cust">
        {{cust}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex="20">
    <mat-label>From</mat-label>
    <input matInput [matDatepicker]="pickerFrom">
    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
    <mat-datepicker #pickerFrom></mat-datepicker>
  </mat-form-field>
  <mat-form-field fxFlex="20">
    <mat-label>To</mat-label>
    <input matInput [matDatepicker]="pickerTo">
    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #pickerTo></mat-datepicker>
  </mat-form-field>
</div>