<table mat-table [dataSource]="dataSource">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef> UserId </th>
    <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div fxLayout="row" style="background-color: white;" fxLayoutAlign="end center" fxLayoutGap="20px">
  <div fxFlex="100" fxLayoutAlign="end center">
    <mat-spinner *ngIf="loadingInProgress" [diameter]="20"></mat-spinner>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" (page)="pagingChange($event)" showFirstLastButtons></mat-paginator>    
  </div>
</div>